.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.divProdutos {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 38px;
}

.btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    margin-top: 3%;
    width: 260px;
    height: 39px;
}